src/main/app/filesorterflow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.7.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="filesorterflowFlow">
        <file:inbound-endpoint path="/Users/schlaepfer/AnypointStudio/workspace/filesorterflow/input" responseTimeout="10000" doc:name="File"/>
        <file:file-to-byte-array-transformer doc:name="File to Byte Array"/>
        <custom-transformer class="com.schlaepfer.esb.mule.FileRecognizer" doc:name="FileRecognizer"/>
        <choice tracking:enable-default-events="true" doc:name="Choice">
            <when expression="#[message.outboundProperties['mimeType']=='image/jpeg']">
                <file:outbound-endpoint path="/Users/schlaepfer/AnypointStudio/workspace/filesorterflow/output/jpeg" responseTimeout="10000" doc:name="jpeg"/>
            </when>
            <when expression="#[message.outboundProperties['mimeType']=='image/gif']">
                <file:outbound-endpoint path="/Users/schlaepfer/AnypointStudio/workspace/filesorterflow/output/gif" responseTimeout="10000" doc:name="gif"/>
            </when>
            <otherwise>
                <file:outbound-endpoint path="/Users/schlaepfer/AnypointStudio/workspace/filesorterflow/output/other" responseTimeout="10000" doc:name="Other"/>
            </otherwise>
        </choice>
    </flow>
</mule>
